---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Subscribe">
  <h1>Subscribe</h1>
  <p>Get the morning after write up in your inbox.</p>

  <form>
    <label>
      Email
      <input type="email" name="email" placeholder="you@email.com" required />
    </label>
    <button type="submit">Subscribe</button>
  </form>

  <p>
    This form is a placeholder. Next step is connecting Mailchimp, ConvertKit, or Buttondown.
  </p>
</Layout>
