---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title = "Milly Maker Tracker" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1.25rem;
  }
</style>
