---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title = "Milly Maker Tracker" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <Header />
    <main class="shell">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .shell {
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>
